<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Login">


    <h1>Login to Poker</h1>
    <form id="login" class="form-group" name="login" action="login" method="post">
        <div style="float:left">
            <input type="text" id="username" class="form-control" name="username" placeholder="Username" required>
            <br>
            <input type="password" id="password" class="form-control" name="password" placeholder="Password"required>
        </div>
        <div style="width:100%">&nbsp;</div>
        <div style="width:100%">&nbsp;</div>
        <div style="width:100%">&nbsp;</div>
        <div style="width:100%">&nbsp;</div>
        <div style="width:100%">&nbsp;</div>
        <button id="submit" class="btn btn-success" type="submit">Login</button>
    </form>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#play").hide();
            $("#viewgames").hide();
            $("#viewgamesbyuser").hide();
        });
    </script>
</@layout.myLayout>