<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Play Poker">

    <h2>New Game:</h2>
    <form class="form-group" name="newgame" action="newgame" method="post">
        <input type="text" name="newgame" class="form-control" placeholder="Game Name" style="width:30%;display:inline">
        <button class="btn btn-success">New Game</button>
    </form>

    <br>

    <h2>Current Games:</h2>
    <div id="gamelist" class="list-group">
        <#include "./gamelist.ftl.html">
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#actions").attr("href", "/logout");
            $("#actions").html("Logout");
            $("#play").parent().addClass("active");

            getGameList();
        });


        function getGameList(){
            $.ajax({
                type:"GET",
                url:"/getgamelist",
                success:function(data){
                    $("#gamelist").html(data);
                    getGameList();
                }
            });
        }
    </script>

</@layout.myLayout>