<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Home page">

    <h1>Play!</h1>

        <div class="well carousel-search hidden-sm">

            <div class="btn-group" id="noplayers">
                <a class="btn btn-default dropdown-toggle btn-select" data-toggle="dropdown" href="#">Number of Players<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/play?noplayers=2">2</a></li>
                    <li><a href="/play?noplayers=3">3</a></li>
                    <li><a href="/play?noplayers=4">4</a></li>
                    <li><a href="/play?noplayers=5">5</a></li>
                    <li><a href="/play?noplayers=6">6</a></li>
                    <li><a href="/play?noplayers=7">7</a></li>
                    <li><a href="/play?noplayers=8">8</a></li>
                    <li><a href="/play?noplayers=9">9</a></li>
                    <li><a href="/play?noplayers=10">10</a></li>
                </ul>
            </div>

            <br>
            <br>

            <input type="text" id="game_name" class="form-control" placeholder="Game Name" style="width:196px;display:inline">

            <!-- loop to create dropdowns for players -->
            <#list loops as loop>
                <div class="btn-group">
                    <a class="btn btn-default dropdown-toggle btn-select" id="userselection${loop}" data-toggle="dropdown" href="#">Select Player ${loop}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <#list users as user><li><a href="">${user}</a></li></#list>
                    </ul>
                </div>
            </#list>
            <div class="btn-group">
                <button type="button" id="btnPlay" class="btn btn-primary">Play</button>
            </div>
        </div>


    <div id="cardcontainer"></div>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#actions").attr("href", "/logout");
            $("#actions").html("Logout");
        });
    </script>

    <script type="text/javascript" src="/assets/js/play.js"></script>

</@layout.myLayout>