<#import "../layout/defaultLayout.ftl.html" as layout>
    <@layout.myLayout "Home page">

    <button class="btn btn-success">New Game</button>

    <#list games as game>

    </#list>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#actions").attr("href", "/logout");
            $("#actions").html("Logout");
        });
        $("#play").parent().addClass("active");
    </script>

    <script type="text/javascript" src="/assets/js/play.js"></script>

</@layout.myLayout>